
/* SLIDER*/
.carousel{
    z-index: 9;
    width: 1440px;
    margin-left: -150px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    min-height: 525px;
    margin: auto;
}
.slide_text{
    width: 450px;
    height: 160px;
    background-color: #4392a8;
    opacity:0.9;
    color:#ffffff;
    font-size:30px;
    top: 325px;
    left: 0;
    padding: 25px;
    margin-left: 220px;
}
.slide_text_span{
    font-weight: bold;
}
/* END SLIDER*/

/* HEADER*/

.header_wrap{
    width: 1000px;
    height:125px;
    z-index: 10;
    background-color: #fff;
    left:50%;
    margin-left: -500px;
}
.logo a{
    display: inline-block;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
.small_logo{
    display: none;
}
.nav_panel{
    top: 0;
    right: 0;
}
.big_nav{
    clear: both;
}
.big_nav li{
    display: inline-block;
}
.big_nav a{
    color: #668333 !important;
    font-size:20px;
    margin-left: 35px;
    margin-right: 20px;
}
.big_nav a:hover{
    opacity:0.7;
    text-decoration: none;
}
.active a{
    color: #81b9c8 !important;
}
.small_nav{
    background-color: #1b7f9b;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    float: right;
    opacity:.95;
    padding: 8px;;
}
.small_nav li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}
.small_nav a{
    color: #ffffff!important;
    font-size:15px;
}
.small_nav a:hover{
    opacity:0.7;
    text-decoration: none;
}
.small_nav li:nth-child(4){
    margin-left:50px;
}
.menu_bonus{
    top: 20px;
    right: -13px;
}
/*SMALL MENU*/
.hidden_menu {
    position: absolute;
    left: 88%;
    top: 26%;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #b3b3b3;
    padding: 5px;
    display: none;
}
.hidden_menu_1{
    border:none;
}
.first,.second,.third{
    width: 40px;
    border: 1px solid #525252;
    margin-bottom: 2px;
}
.first,.second{
    margin-bottom: 10px;
}
.second_1{
    display: none;
}
/* END HEADER*/

/* CONTENT*/
/* First section*/
.content_wrap{
    margin: 0 auto;
    max-width: 1000px;
}
.cont_item_up{
    width: 320px;
    height: 200px;
    display: inline-block;
    margin-top: 30px;
}
.content_wrap .cont_item_up:nth-child(1){
    background-image: url(../img/box1.jpg);
}
.content_wrap .cont_item_up:nth-child(2){
    background-image: url(../img/box2.jpg);
    margin-left:15px;
}
.content_wrap .cont_item_up:nth-child(3){
    background-image: url(../img/box3.jpg);
    margin-left:15px;
}
.cont_item_text{
    color: #ffffff;
    font-size:43px;
    line-height: 250px;
    text-shadow: 3px 2px 5px #676767;
    margin-left: 20px;
}
.text_1{
     margin-left: 120px;
}
.text_3{
    margin-left: 120px;
}
.cont_item_text_sm{
    color: #ffffff;
    font-size:16px;
}
.cont_item_panel{
    width: 260px;
    height: 45px;
    opacity: .9;
    padding: 10px;
    right: 0;
    bottom: 0;
}
.cont_item_panel:hover{
    opacity: 1;
}
.cont_item_button{
    position: absolute;
    right: 9px;
    top: 7px;
    background: url("../img/sprite.png") no-repeat -192px 0;
    width: 32px;
    height: 32px;
}
.panel_1{
    background-color: #4999af;
}
.panel_2{
    background-color: #668333;
}
.panel_3{
    background-color: #f1715e;
}

/* Second section*/

.cont_item_bt{
    width: 498px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom:50px;
    vertical-align: top;
}

.cont_bt_title{
    color: #60a4b7;
    font-size:30px;
}

.mounth_day{
    color: #829858;
    font-size:35px;
    line-height: 30px;

}
.mounth{
    color: #829858;
    font-size:15px;
}
.event{
    color: #f1715e;
    font-size:20px;
}
.week_day{
    color: #5f5f5f;
    font-size: 16px;
    font-weight: bold;
}
.time{
    color: #908f8d;
    font-size: 16px;
}
.more{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 90px;
    height: 34px;
    background-color:#4999af;
    border-radius: 7px;
    color: #ffffff;
    border:none;
}
.events_cal{
    margin-top:25px;
}
.events_cal li{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 460px;
    border-top: 1px solid #d2cdc9;
}
.events_cal li div{
    display: inline-block;
}
.events_cal li div:nth-child(1){
    width: 40px;
}
.events_cal li div:nth-child(2){
    margin-left:20px;
}
.cont_bt_right{
    color: #5f5f5f;
    font-size:16px;
 }
.bt_right_1{
    margin-top: 20px;
}
.bt_right_2{
    margin-bottom: 20px;
}
.readmore{
    color: #f1715e!important;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
}
/* END CONTENT*/

/* FOOTER*/
.footer{
    background-color: #525252;
    height:245px;
}
.footer_wrap{
    margin: 0 auto;
    max-width: 1000px;
}
.signup_button{
    background-color: #4999af;
    width:275px;
    height: 40px;
    border:none;
    border-radius: 5px;
}
.footer_title ,.signup_button{
    font-size:20px;
    color:#ded9d6;
}
.sprite {
    background: url("../img/sprite.png") no-repeat;;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.social_icons{
    margin-top: 30px;
}
.social_icons li{
    cursor: pointer;
    display: inline-block;
    margin-right:5px;
}
.social_icons li:nth-child(1){
    background-position: 0 0;
}
.social_icons li:nth-child(2){
    background-position: -34px 0;
}
.social_icons li:nth-child(3){
    background-position: -68px 0;
}
.social_icons li:nth-child(4){
    background-position: -102px 0;
}
.social_icons li:nth-child(5){
    background-position: -136px 0;
}
.footer_sign_text , a{
    font-size: 15px;
    color: #b3b3b3 !important;
}
.footer_sign a {
    text-decoration: none;
    border-left: 1px solid #b3b3b3;
    padding-left:5px;
}
.footer_sign{
    border-top:1px solid #b3b3b3;
    padding-top: 15px;
}
.email_signup, .service_times, .social{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-top:30px;
    margin-bottom: 50px;
}
.signup_button{
    margin-top: 30px;
    cursor: pointer;
}
.signup_button:hover{
    opacity:0.9;
}
.service_times_items{
    margin-top: 30px;
}
/* END FOOTER*/


/* 1240*/
@media screen and (max-width: 1240px){
    .carousel{
        width: 1240px;
        margin-left: -50px;
    }
}
/* 1200*/
@media screen and (max-width: 1200px){
    .carousel{
        width: 1200px;
        margin-left: -30px;
    }
}
/* 1199*/
@media screen and (max-width: 1199px){
    .carousel{
        margin-left: -130px;
    }
    .slide_text {
        margin-left: 103px;
    }
}
/* 1100*/
@media screen and (max-width: 1100px){
    .carousel{
        width: 1100px;
        margin-left: -80px;
    }
    .header_wrap{
        width: 900px;
        left:50%;
        margin-left: -450px;
    }
    .footer_wrap{
        max-width: 900px;
    }
    .content_wrap{
        max-width: 900px;
    }
    .cont_item_bt{
        width: 448px;
    }
    .events_cal li{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 440px;
    }
    .service_times>.footer_title{
        margin-left: 60px;
    }
    .cont_item_up{
        width: 31%;
        vertical-align: top;
    }
    .cont_item_text{
        margin-left: 3px;
    }
    .text_1{
        margin-left: 80px;
    }
    .text_2{
        margin-left: 4px;
    }
    .text_3{
        margin-left: 90px;
    }
    .cont_item_panel{
        width: 250px;
    }
    .footer_title, .signup_button {
        font-size: 19px;
        color: #ded9d6;
    }
}
/* 1024*/
@media screen and (max-width: 1024px){
    .carousel{
        width: 1024px;
        margin-left: -40px;
    }
    .slide_text {
        margin-left: 64px;
    }
}
/* 991*/
@media screen and (max-width: 991px){
    .carousel{
        width: 991px;
        margin-left: -135px;
    }
}
/* 990*/
@media screen and (max-width: 990px){
    .carousel{
        width: 990px;
        margin-left: -135px;
    }
    .header_wrap{
        width: 800px;
        left:50%;
        margin-left: -400px;
    }
    .footer_wrap{
        max-width: 800px;
    }
    .content_wrap{
        max-width: 800px;
    }
    .content_wrap .cont_item_up:nth-child(2){
        margin-left:20px;
    }
    .content_wrap .cont_item_up:nth-child(3){
        margin-left:20px;
    }
    .cont_item_bt {
        width: 398px;
    }
    .events_cal li {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 370px;
    }
    .cont_item_text {
        font-size: 36px;
    }
    .signup_button {
        width: 240px;
        height: 40px;
    }
    .footer_title, .signup_button {
        font-size: 16px;
        color: #ded9d6;
    }
    .cont_item_panel {
        width: 210px;
    }
    .cont_item_text_sm {
        font-size: 12px;
    }
    .slide_text {
        margin-left: 97px;
    }
}
/* 920*/
@media screen and (max-width: 920px){
    .carousel{
        width: 920px;
        margin-left: -108px;
    }
}
/* 900*/
@media screen and (max-width: 900px){
    .carousel{
        width: 900px;
        margin-left: -108px;
    }
    .header_wrap{
        width: 700px;
        margin-left: -360px;
    }
    .footer_wrap{
        max-width: 700px;
    }
    .content_wrap{
        max-width: 700px;
    }
    .slide_text {
        width: 380px;
        height: 145px;
        font-size: 22px;
        top: 303px;
        margin-left: 110px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        min-height: 483px;
    }
    .big_nav a {
        font-size: 16px;
    }
    .nav_panel {
        top: 25px;
    }
    .menu_bonus {
        top: 45px;
    }
    .cont_item_up {
        width: 45%;
    }
    .content_wrap .cont_item_up:nth-child(2){
        margin-left:65px;
    }
    .content_wrap .cont_item_up:nth-child(3){
        margin-left:28%;
    }
    .text_1{
        margin-left: 138px;
    }
    .text_2{
        margin-left: 75px;
    }
    .text_3{
        margin-left: 145px;
    }
    .cont_item_panel {
        width: 250px;
    }
    .cont_item_text_sm {
        font-size: 15px;
    }
    .cont_item_bt {
        width: 348px;
    }
    .cont_bt_right {
        font-size: 15px;
    }
    .cont_bt_title {
        font-size: 24px;
    }
    .events_cal li {
        width: 335px;
    }
    .email_signup, .service_times, .social {
        width: 32%;
    }
    .footer_title, .signup_button {
        font-size: 13px;
    }
    .signup_button {
        width: 201px;
    }
    .service_times>.footer_title {
        margin-left:0;
    }
    .footer_sign_text, a {
        font-size: 11px;
    }
}
/* 780*/
@media screen and (max-width: 780px){
    .carousel{
        width: 780px;
        margin-left: -38px;
    }
    .header_wrap {
        width: 761px;
        height: 85px;
        margin-left: -379px;
        border-bottom:1px solid #b3b3b3;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        min-height: 420px;
    }
    .slide_text {
        top: 279px;
        margin-left: 45px;
    }
    .big_logo{
        display: none;
    }
    .small_logo{
        display: block;
    }
    .menu_bonus{
        display: none;
    }
    .hidden_menu{
        display: block;
    }
    .nav_panel{
        display: none;
        width: 100%;
        background-color: #ffffff;
        top: 85px;
    }
    .big_nav{
        margin-bottom: 17px;
        float: right;
    }
    .small_nav {
        color: #b3b3b3;
        background-color: #ffffff;
        margin-right: 17px;
    }
    .small_nav a{
        color: #b3b3b3!important;
    }
    .small_nav {
        border-bottom:1px solid #b3b3b3;
    }
    .cont_item_bt {
        width: 100%;
    }
    .events_cal li {
        width: 100%;
    }
    .cont_item_bt {
        margin-top: 9px;
        margin-bottom: 14px;
    }
    .slide_text {
        top: 240px;
    }
}
/* 768*/
@media screen and (max-width: 768px) {
    .carousel {
        width: 758px;
        margin-left: -16px;
    }
}
/* 706*/
@media screen and (max-width: 706px) {
    .carousel {
        width: 690px;
        margin-left: -16px;
    }
    .small_logo {
        margin-left: 25px;
    }
    .big_nav {
        margin-right: 5%;
    }
    .cont_item_up {
        width: 320px;
        margin: 20px 0 0;
        display: block;
    }
    .cont_item_up:nth-child(1) {
        margin-left: 26%;
    }
    .content_wrap .cont_item_up:nth-child(2), .content_wrap .cont_item_up:nth-child(3) {
        margin: 20px 0 0 26%;
    }
    .cont_bt_right {
        padding: 14px;
    }
    .cont_bt_title {
        margin-left: 15px;
    }
    .readmore {
        margin-left: 15px;
    }
    .footer {
        height: 500px;
    }
    .email_signup, .service_times, .social {
        width: 100%;
        margin: 35px 0 0 160px;
    }
    .footer_title, .signup_button {
        font-size: 22px;
    }
    .signup_button {
        display: block;
        width: 330px;
    }
    .service_times > .footer_title {
        margin-left: 70px;
    }
    .social > span {
        margin-left: 54px;
    }
    .social_icons {
        margin-left: 62px;
    }
    .service_times_items {
        margin-left: 27px;
    }
    .events_cal li {
        width: 90%;
        margin-left: 5%;
    }
    .footer_sign_text, a {
        margin-left: 15px;
    }
    .small_nav li:nth-child(4) {
        margin-left: 0;
    }
    .carousel-control{
        margin-left: 0;
    }
    .hidden_menu {
        left: 85%;
    }
    .header_wrap {
        width: 689px;
        margin-left: -345px;
    }
}

@media screen and (max-width: 670px) {
    .carousel {
        width: 655px;
    }
    .header_wrap {
        width: 671px;
        margin-left: -345px;
    }

}

@media screen and (max-width: 638px) {
    .carousel {
        width: 622px;
    }
    .header_wrap {
        width: 655px;
    }
}
@media screen and (max-width: 600px) {
    .carousel {
        width: 586px;
    }
    .header_wrap {
        width: 637px;
    }
    .email_signup, .service_times, .social {
        margin: 35px 0 0 130px;
    }
}

@media screen and (max-width: 570px) {
    .carousel {
        width: 553px;
    }
    .header_wrap {
        width: 621px;
    }
    .email_signup, .service_times, .social {
        margin: 35px 0 0 115px;
    }
    .content_wrap .cont_item_up:nth-child(1), .content_wrap .cont_item_up:nth-child(2) ,.content_wrap .cont_item_up:nth-child(3){
        margin-left:21%;
    }
}
@media screen and (max-width: 540px) {
    .carousel {
        width: 525px;
    }
    .header_wrap {
        width: 607px;
    }
    .email_signup, .service_times, .social {
        margin: 35px 0 0 100px;
    }
    .slide_text {
        width: 330px;
    }
    .small_logo {
        margin-left: 80px;
    }
}

@media screen and (max-width: 510px) {
    .carousel {
        width: 494px;
    }
    .header_wrap {
        width: 591px;
    }
    .content_wrap .cont_item_up:nth-child(1), .content_wrap .cont_item_up:nth-child(2) ,.content_wrap .cont_item_up:nth-child(3){
        margin-left: 18%;
    }
    .email_signup, .service_times, .social {
        margin: 35px 0 0 80px;
    }
    .big_nav {
        margin-right: 0;
    }
}
@media screen and (max-width: 482px) {
    .carousel {
        width: 466px;
    }
}
@media screen and (max-width: 467px) {
    .big_nav li{
        display: block;
        margin-bottom: 20px;
    }
    .big_nav {
        padding: 20px;
    }
}
@media screen and (max-width: 457px) {
    .email_signup, .service_times, .social {
        margin: 35px 0 0 60px;
    }
    .carousel {
        width: 442px;
    }
    .header_wrap {
        width: 566px;
    }
    .content_wrap .cont_item_up:nth-child(1), .content_wrap .cont_item_up:nth-child(2), .content_wrap .cont_item_up:nth-child(3) {
        margin-left: 14%;
    }
    .slide_text {
        margin-left: 63px;
        width: 320px;
    }
    .email_signup, .service_times, .social {
        margin: 35px 0 0 50px;
    }
}
@media screen and (max-width: 437px) {
    .carousel {
        width: 415px;
    }
    .small_logo {
        margin-left: 130px;
    }
}
/* 320*/
@media screen and (max-width: 320px) {
    .carousel {
        width: 303px;
        margin-left: -15px;
    }
    .content_wrap .cont_item_up:nth-child(1), .content_wrap .cont_item_up:nth-child(2), .content_wrap .cont_item_up:nth-child(3) {
        margin-left: 5%;
    }
    .header_wrap {
        width: 302px;
        margin-left: -151px;
    }
    .hidden_menu {
        left: 75%;
    }
    .slide_text {
        width: 216px;
        height: 117px;
        font-size: 15px;
        top: 280px;
        margin-left: 20px;
    }
    .email_signup, .service_times, .social {
        margin-left: 41px;
    }
    .footer_title, .signup_button {
        font-size: 15px;
    }
    .service_times>.footer_title {
        margin-left: 50px;
    }
    .social>span {
        margin-left: 34px;
    }
    .signup_button {
        margin-left: 13px;
        width: 203px;
    }
    .social_icons {
        margin-left: 6px;
    }
    .service_times_items {
        margin-left: 16px;
    }
    .footer_sign {
        margin-left: 12px;
        width: 279px;
    }
    .mounth_day{
        font-size:25px;
    }
    .mounth{
        font-size:10px;
    }
    .event{
        font-size:15px;
    }
    .week_day{
        font-size: 11px;
    }
    .time{
        font-size: 11px;
    }
    .more{
        width: 62px;
        height: 26px;
    }
    .events_cal li {
        width: 275px;
        margin-left: 18px;
    }
    .cont_item_up{
        width: 90%;
        margin: 20px 0 0;
    }
    .content_wrap .cont_item_up:nth-child(1), .content_wrap .cont_item_up:nth-child(2), .content_wrap .cont_item_up:nth-child(3) {
        margin-left: 5%;
    }
    .text_1 {
        margin-left: 99px;
    }
    .text_2 {
        margin-left: 31px;
    }
    .text_3 {
        margin-left: 105px;
    }
    .content_wrap {
        margin-top: 5px;
    }
    .big_nav li{
        display: block;
        margin-bottom: 20px;
    }
    .big_nav {
        padding: 20px;
    }
    .small_nav {
        margin-right: -18px;
    }
    .small_logo {
        margin-left:-25px;
    }
}