
/* SLIDER*/
.carousel{
    z-index: 9;
    width: 1440px;
    margin-left: -150px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    min-height: 525px;
    margin: auto;
}
.slide_text{
    width: 450px;
    height: 160px;
    background-color: #4392a8;
    opacity:0.9;
    color:#ffffff;
    font-size:30px;
    top: 325px;
    left: 0;
    padding: 25px;
    margin-left: 220px;
}
.slide_text_span{
    font-weight: bold;
}
/* END SLIDER*/

/* HEADER*/

.header_wrap{
    width: 1000px;
    height:125px;
    z-index: 10;
    background-color: #fff;
    left:50%;
    margin-left: -500px;
}
.logo a{
    display: inline-block;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
.nav_panel{
    top: 0;
    right: 0;
}
.big_nav{
    clear: both;
}
.big_nav li{
    display: inline-block;
}
.big_nav a{
    color: #668333 !important;
    font-size:20px;
    margin-left: 35px;
    margin-right: 20px;
}
.big_nav a:hover{
    opacity:0.7;
    text-decoration: none;
}
.active a{
    color: #81b9c8 !important;
}
.small_nav{
    background-color: #1b7f9b;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    float: right;
    opacity:.95;
    padding: 8px;;
}
.small_nav li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}
.small_nav a{
    color: #ffffff!important;
    font-size:15px;
}
.small_nav a:hover{
    opacity:0.7;
    text-decoration: none;
}
.small_nav li:nth-child(4){
    margin-left:70px;
}
.menu_bonus{
    top: 20px;
    right: -13px;
}

/* END HEADER*/

/* CONTENT*/
/* First section*/
.content_wrap{
    margin: 0 auto;
    max-width: 1000px;
}
.cont_item_up{
    width: 320px;
    height: 200px;
    display: inline-block;
    margin-top: 30px;
}
.content_wrap .cont_item_up:nth-child(1){
    background-image: url(../img/box1.jpg);
}
.content_wrap .cont_item_up:nth-child(2){
    background-image: url(../img/box2.jpg);
    margin-left:15px;
}
.content_wrap .cont_item_up:nth-child(3){
    background-image: url(../img/box3.jpg);
    margin-left:15px;
}
.cont_item_text{
    color: #ffffff;
    font-size:43px;
    line-height: 250px;
    text-shadow: 3px 2px 5px #676767;
    margin-left: 20px;
}
.text_1{
     margin-left: 120px;
}
.text_3{
    margin-left: 120px;
}
.cont_item_text_sm{
    color: #ffffff;
    font-size:16px;
}
.cont_item_panel{
    width: 260px;
    height: 45px;
    opacity: .9;
    padding: 10px;
    right: 0;
    bottom: 0;
}
.cont_item_panel:hover{
    opacity: 1;
}
.cont_item_button{
    position: absolute;
    right: 9px;
    top: 7px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -192px 0;
    width: 32px;
    height: 32px;
}
.panel_1{
    background-color: #4999af;
}
.panel_2{
    background-color: #668333;
}
.panel_3{
    background-color: #f1715e;
}

/* Second section*/

.cont_item_bt{
    width: 498px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom:50px;
    vertical-align: top;
}

.cont_bt_title{
    color: #60a4b7;
    font-size:30px;
}

.mounth_day{
    color: #829858;
    font-size:35px;
    line-height: 30px;

}
.mounth{
    color: #829858;
    font-size:15px;
}
.event{
    color: #f1715e;
    font-size:20px;
}
.week_day{
    color: #5f5f5f;
    font-size: 16px;
    font-weight: bold;
}
.time{
    color: #908f8d;
    font-size: 16px;
}
.more{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 90px;
    height: 34px;
    background-color:#4999af;
    border-radius: 7px;
    color: #ffffff;
    border:none;
}
.events_cal{
    margin-top:25px;
}
.events_cal li{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #d2cdc9;
    width: 460px;
}
.events_cal li div{
    display: inline-block;
}
.events_cal li div:nth-child(1){
    width: 40px;
}
.events_cal li div:nth-child(2){
    margin-left:20px;
}
.cont_bt_right{
    color: #5f5f5f;
    font-size:16px;
 }
.bt_right_1{
    margin-top: 20px;
}
.bt_right_2{
    margin-bottom: 20px;
}
.readmore{
    color: #f1715e!important;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
}
/* END CONTENT*/

/* FOOTER*/
.footer{
    background-color: #525252;
    height:245px;
}
.footer_wrap{
    margin: 0 auto;
    max-width: 1000px;
}
.signup_button{
    background-color: #4999af;
    width:275px;
    height: 40px;
    border:none;
    border-radius: 5px;
}
.footer_title ,.signup_button{
    font-size:20px;
    color:#ded9d6;
}
.sprite {
    background: url("../img/sprite.png") no-repeat;;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.social_icons{
    margin-top: 30px;
}
.social_icons li{
    cursor: pointer;
    display: inline-block;
    margin-right:5px;
}
.social_icons li:nth-child(1){
    background-position: 0 0;
}
.social_icons li:nth-child(2){
    background-position: -34px 0;
}
.social_icons li:nth-child(3){
    background-position: -68px 0;
}
.social_icons li:nth-child(4){
    background-position: -102px 0;
}
.social_icons li:nth-child(5){
    background-position: -136px 0;
}
.footer_sign_text , a{
    font-size: 15px;
    color: #b3b3b3 !important;
}
.footer_sign a {
    text-decoration: none;
    border-left: 1px solid #b3b3b3;
    padding-left:5px;
}
.footer_sign{
    border-top:1px solid #b3b3b3;
    padding-top: 15px;
}
.email_signup, .service_times, .social{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-top:30px;
    margin-bottom: 50px;
}
.signup_button{
    margin-top: 30px;
    cursor: pointer;
}
.signup_button:hover{
    opacity:0.9;
}
.service_times_items{
    margin-top: 30px;
}
/* END FOOTER*/